.content-container
  font-family: Lato, Helvetica, Arial, sans-serif
  font-size: 18px
  padding: 2em 2em 8em 2em
  color: #323232
  max-width: 1248px
  margin: 0 auto
  display: flex
  flex-flow: column nowrap

.content-section
  max-width: 800px
  align-self: center

.headline
  font-size: 3em
  font-weight: bold
  text-align: center
  line-height: 1.33em
  &-text-wrap
    background-color: gold


.header-container
  justify-content: center
  display: flex
  flex-flow: row nowrap
  max-width: 1248px

.book-cover
  width: 100%

  &-container
    padding: 2em
    flex-basis: 35%
    align-self: center

.book-pitch
  &-container
    padding: 2em
    flex-basis: 65%
    align-self: center

.book-title
  font-size: 2.5em
  // font-size: 5vw
  font-weight: 900

.book-sub-title
  display: block
  font-size: .6em
  font-weight: 400
  color: #4c4c4c

.bullet-list
  font-size: 1.2em
  list-style-type: square
  padding-left: 3em
  padding-right: 3em
  li
    margin-bottom: .5em

.sub-headline
  display: inline-block
  font-size: 2em
  font-weight: 900
  background-color: #fff9b8
  padding: .1em .25em
  margin-left: -0.25em
  margin-right: -0.25em

.buy-button
  text-decoration: none
  display: inline-block
  background-color: transparent
  border: 2px solid #cfab02
  color: #cfab02
  font-weight: 800
  font-size: 1em
  padding: 14px 20px
  margin-top: 1em
  margin-bottom: 1em
  cursor: pointer
  &:hover
    background-color: #cfab02
    color: #fff
    transition: all .2s ease-in-out

.blockquote
  font-style: italic !important
  cite
    margin-top: .5em
    display: block
    font-style: normal
    font-weight: bold

@media (min-width: 768px)
  // nothing
@media (min-width: 600px)
  // nothing
@media only screen and (max-width: 500px)
  .content-container
    font-size: 18px
    padding-left: 1em
    padding-right: 1em

  .headline
    font-size: 2em

  .header-container
    flex-flow: row wrap
    max-width: 500px

  .book-cover
    &-container
      padding: 1.5em
      flex-basis: 100%
      width: 100%
      align-self: left

  .book-pitch
    &-container
      padding: 0
      flex-basis: 100%
      width: 100%
      align-self: left

  .bullet-list
    padding-left: 1em
    padding-right: 1em
