{% extends "base.html" %} {% block content %}
<h1 class="ds-hero__header">Dmitry Shvetsov</h1>
<p class="ds-hero__message">
  Software Engineer. I'm building web3.
  Alumnus of top Y Combinator startups and Magic Eden, one of the fastest crypto unicorns.
</p>

<h2 class="ds-section-header">how to manage and grow engineering teams in startups</h2>
<p>
  <a href="/team-lead-101-book">Team Lead 101 Book</a>
  is a book for software engineers who have been entrusted to lead their teams but
  haven’t received a guide on how to do this. It’s perfect for engineering teams
  of 3-8 people in startups where the structure is flat with three or
  fewer levels: developers, leads, and C-level executives.
</p>


<h2 class="ds-section-header">read latest articles</h2>
<ul>
  <li>
    <a href="/shorts/erc-20-allowance-problem/">"Not your keys, not your crypto" is actually not the full truth in Ethereum ecosystem</a>
  </li>
  <li>
    <a href="/articles/how-to-deploy-goerli-ethereum-smart-contract-using-hardhat-alchemy-typescript/">How to Deploy Ethereum Contract to Goerli network Using Hardhat, Alchemy and TypeScript</a>
  </li>
</ul>
<a class="ds-system" href="/articles">see all publications</a>

<h2 class="ds-section-header">connect</h2>
<ul>
  <li>
    <a
      class="ds-link--external"
      href="https://twitter.com/dmshvetsov"
      rel="noreferrer noopener"
      >@dmshvetsov on twitter</a
    >
  </li>
  <li>
    <a href="https://github.com/dmshvetsov" rel="noreferrer noopener"
      >@dmshvetsov on github</a
    >
  </li>
</ul>
{% endblock content %}
