<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Team Lead 101 Book" />
    <meta name="author" content="Dmitry Shvetsov" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ get_url(path="team_lead_101.css") | safe
    }}">
    <title>Team Lead 101 Book</title>
    <script src="https://gumroad.com/js/gumroad.js"></script>
  </head>

  <body>
    <div id="container">
      <div class="formkit-page" style="background-color: #ffffff">
        <div
          class="formkit-background"
          style="
            background-color: #ffffff;
            border-color: #45556a;
            border-width: 10px;
            background-image: ;
            opacity: 1;
          "
        ></div>
        <div class="formkit-container">
          <div class="formkit-page-header">
            <div class="formkit-image formkit-image formkit-column">
              <img
                src="/assets/team-lead-101-book-cover.png"
                style="max-width: 100%"
              />
            </div>
            <div class="formkit-column">
              <h1
                class="formkit-header"
                style="
                  color: #41444b;
                  font-size: 48px;
                  font-weight: 700;
                  line-height: 1;
                "
              >
                Team Lead 101 
                <br />
                <span style="font-size: 24px">
                  How to Manage and Grow Engineering Teams in Small Startups
                </span>
              </h1>
              <hr />
              <div class="formkit-subheader">
                <div
                  class="formkit-text"
                  style="color: #52575d; font-size: 23px"
                >
                  <p>
                    <em>
                      A book for software engineers who have been entrusted to
                      lead their teams but haven’t received a guide on how to do
                      this.
                    </em>
                  </p>
                </div>
                <div>
                  <a
                    class="buy-button"
                    href="https://dmitryshvetsov.gumroad.com/l/team-lead-101?wanted=true&variant=Single%20Copy"
                  >
                    Buy Single Copy
                  </a>
                  <p>
                    <i>You get PDF and ePUB ebook on Gumroad, You pay $28</i>
                  </p>
                </div>
                <p>
                  107 pages of fundamental principles, tools and approaches to
                  team leadership and project management
                </p>
              </div>
            </div>
          </div>
          <div
            class="formkit-card"
            style="background-color: #41444b; border-radius: 4px"
          >
            <div class="formkit-card-top">
              <h2
                class="formkit-content-header"
                style="color: #ffffff; font-size: 30px; font-weight: 400"
              >
                This book is a leadership road map for software engineers who
                have been entrusted to lead their teams. It’s perfect for
                engineering teams of 3-8 people in startups where the
                structure is flat with three or fewer levels: developers, leads,
                and C-level executives.
              </h2>
            </div>
            <div
              style="
                background-color: #f5f5f5;
                border-color: #dfdede;
                border-width: 1px;
              "
              class="formkit-card-section"
            >
              <h2
                class="formkit-content-header"
                style="font-size: 30px; font-weight: 400"
              >
                Why do I need to read Team Lead 101?
              </h2>
              <div class="">
                <div class="formkit-text" style="font-size: 18px" id="892522">
                  <p>
                    I was so excited when I got my first assignment to team
                    lead. I was a good programmer, I had proven my abilities and
                    it felt great to be rewarded for it. Finally people were
                    going to seek my advice and listen to it. The team would
                    rally around me and function as a well-oiled machine to get
                    the work done.
                  </p>
                  <p>
                    But it didn’t happen that way. My first three years as a
                    team lead were fraught with frustration and disappointment.
                    Mainly I was disappointed with myself. I was trying so hard
                    but didn’t seem to be making any headway. Certainly not the
                    progress I expected from myself.
                  </p>
                  <p>
                    Because I didn’t have good skills in place, I reverted back
                    to ineffective behaviors like arguing, trying to prove
                    myself right and grinding away to gain new hard skills that
                    would make me more valuable to the company but did nothing
                    to improve my management acumen.
                  </p>
                  <p>
                    Then I figured out I was lacking in soft skills. Empathy.
                    Active listening. And I knew I’d have to develop these first
                    if I wanted to make a true difference.
                  </p>
                  <p>
                    In Team Lead 101, I share the most useful tools and
                    techniques I&#x27;ve developed working in management
                    positions in startups and large companies alike.
                  </p>
                  <p>
                    Our employers call on us to lead teams in the hopes that we
                    will rise to lead, but they don’t always give us guidance
                    about how to motivate, arbitrate disagreements, build
                    processes and achieve goals. Being the leader means more
                    than just being a good programmer in charge of the team. It
                    means finding solutions to these challenges and more.
                  </p>
                  <p>This is what you’ll learn from reading Team Lead 101.</p>
                </div>
              </div>
              <h2
                class="formkit-content-header"
                style="font-size: 30px; font-weight: 400"
              >
                Here’s what people have said about ‘Team Lead 101’
              </h2>
              <div class="">
                <div class="formkit-text" style="font-size: 18px" id="892522">
                  <blockquote>
                    &quot;I have read only half of the book and already realized
                    how sad it is that I didn&#x27;t have it 4 years ago when I
                    was told that I&#x27;m tech lead! ... This book is a
                    must-have [for tech-leads] ... Exactly what you need in
                    startups.&quot;
                    <br />
                    <cite>
                      <a href="https://www.linkedin.com/in/smalljeeper/">
                        – Anton Kireev, Tech Lead at drom.ru
                      </a>
                    </cite>
                  </blockquote>
                  <blockquote>
                    &quot;An excellent resource for all budding team leads... I
                    got a whole heap of tips to bring into my new gig.&quot;
                    <br />
                    <cite>
                      <a
                        href="https://twitter.com/codingmindfully/status/1297791151911522305"
                      >
                        – Daragh Byrne, Software Engineering Manager at Digital
                        Creators
                      </a>
                    </cite>
                  </blockquote>
                  <blockquote>
                    &quot;I like how the book is written. It is easy to read
                    without complicated terminology. I think not only team leads
                    find this book useful but SCRUM masters and agile
                    coaches.&quot;
                    <br />
                    <cite>
                      <a href="https://www.linkedin.com/in/slavanikitin/">
                        – Slava Nikitin, Head of Corporate Development at Virto
                        Commerce
                      </a>
                    </cite>
                  </blockquote>
                  <blockquote>
                    &quot;One will find not only valuable advice regarding
                    strategies to implement to lead a small team effectively,
                    but will be able to also understand the role a team leader
                    plays in a deeper way, which will lead to team happiness and
                    productivity.&quot;
                    <br />
                    <cite>
                      <a
                        href="https://www.linkedin.com/posts/mihai-alina_team-lead-101-how-to-manage-and-grow-engineering-activity-6701033206243762176-_Jth"
                      >
                        – Alina Mihai, Life Coach and Front End Developer
                      </a>
                    </cite>
                  </blockquote>
                </div>
              </div>
              <h2
                class="formkit-content-header"
                style="font-size: 30px; font-weight: 400"
              >
                30-Day money back guarantee
              </h2>
              <div class="">
                <div class="formkit-text" style="font-size: 18px" id="892522">
                  <p>
                    If you’re not 100% satisfied with this book, just reply to
                    the download email within 30 days from the purchase and
                    you’ll get a full refund. No questions asked.
                  </p>
                </div>
              </div>
              <h2
                class="formkit-content-header"
                style="font-size: 30px; font-weight: 400"
              >
                Can I share this book with my team?
              </h2>
              <div class="">
                <div class="formkit-text" style="font-size: 18px" id="892522">
                  <p>
                    Single copy version is for personal use. But the team
                    license version can be shared with an unlimited number of
                    people within a single team, class or organization. .
                  </p>
                  <div>
                    <a
                      class="buy-button"
                      href="https://dmitryshvetsov.gumroad.com/l/team-lead-101?wanted=true&variant=Team%20Licence"
                      >Buy a shareable book version</a
                    >
                    <p><i>You get PDF and ePUB ebook, You pay $140</i></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="formkit-powered-by-convertkit-container">
          <span
            data-element="powered-by"
            data-variant="dark"
            style="text-align: center; margin: 0 auto"
          >
            Dmitry Shvetsov – All Rights Reserved © 2020-2022
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
